[mysql]
# CLIENT #
port                           = 3306
socket                         = /var/lib/mysql/mysql.sock

[mysqld]

# GENERAL #
user                           = mysql
default-storage-engine         = InnoDB
socket                         = /var/lib/mysql/mysql.sock
pid-file                       = /var/run/mysqld/mysqld.pid
port                           = 3306
symbolic-links                 = 0

# MyISAM #
# key-buffer-size                = 32M
# myisam-recover                 = FORCE,BACKUP

# SAFETY #
max-allowed-packet             = 16M
max-connect-errors             = 1000000
skip-name-resolve
sql-mode                       = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
innodb-strict-mode             = 1

# DATA STORAGE #
datadir                        = /var/lib/mysql
tmpdir                         = /tmp

# SERVER ID #
server-id                      = 1

# BINARY LOGGING #
expire_logs_days               = 7

# CACHES AND LIMITS #
max-connections                = 700
tmp-table-size                 = 32M
max-heap-table-size            = 32M
query-cache-type               = 0
query-cache-size               = 0
thread-cache-size              = 50
open-files-limit               = 65535
table-definition-cache         = 1024
table-open-cache               = 2048

# INNODB #
innodb-flush-method            = O_DIRECT
innodb-log-files-in-group      = 2
innodb-log-file-size           = 768M
innodb-flush-log-at-trx-commit = 1
innodb-file-per-table          = 1
innodb-buffer-pool-size        = 6G

# Reqiured by CloudStack
innodb-rollback-on-timeout     = 1
innodb_lock_wait_timeout       = 600
max_connections                = 700
log-bin                        = mysql-bin
binlog-format                  = 'ROW'

# LOGGING #
log_error                      = error.log
#slow-query-log                 = 1
#slow-query-log-file            = mysqld-slow.log
#log-queries-not-using-indexes  = OFF
#long_query_time                = 30

[mysqldump]
max-allowed-packet             = 16M
quick
quote-names

[mysqld_safe]
socket          = /var/lib/mysql/mysql.sock
